.filter{
    list-style: none;
}
.filter_container{
    max-width: 240px;
    padding: 0.5rem 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1rem 0.5rem;
   
}

